<div class="display">
  <p>Your order was successful!</p>
  <br>
  <p>Total: £<%= @order.total %></p>
  <br>
  <p>Please call <u>01312902600</u> to pay.</p>
</div>


<!-- <img src="/images/pizza_banner.jpg" alt="pizza_banner"> -->
