<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel="stylesheet" href="/style.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Slab&display=swap" rel="stylesheet">
  <link rel="icon" href="/images/favicon.ico" type="image/ico">
</head>
<nav>
  <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/pizza-orders">Pizza Orders</a></li>
  </ul>
</nav>
<body>
  <%= yield %>
</body>
</html>
